<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctor Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
{% with msg= get_flashed_messages()%}
{%if msg %}
<div class="alert alert-danger">
    {{ msg[0]}}
</div>
{% endif %}
{% endwith %}

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{session['username']}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        
            <li class="nav-item">
            <a class="nav-link active" href="#profile" onclick="showContent(event, 'profile')">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('logout')}}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#register" onclick="showContent(event, 'register')">Register New Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#appointment" onclick="showContent(event, 'appointment')">appointment Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#prescription" onclick="showContent(event, 'prescription')">Add prescription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#history">Show Patients</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content Sections -->
  <div class="container py-4">
    <!-- Profile -->
    <div id="profile" class="content">
      <h3>Doctor Profile</h3>
      <p><strong>Name:</strong> {{session['username']}}</p>
      <p><strong>Specialization:</strong> {{doctor_info.Specialization}}</p>
      <p><strong>Experience:</strong> {{doctor_info.Experience}}</p>
      <p><strong>Email:</strong> {{doctor_info.doctor_email}}</p>
      <p><strong>Contact Number:</strong> {{doctor_info.doctor_phone}}</p>
    <a href="#" class="btn btn-warning mt-3 px-4"  onclick="toggleEditForm()">
      ✏️ Edit Profile
    </a>
    </div>
    <!-- Hidden form -->
    <form id="editForm" method="POST" action="{{ url_for('edit_dr', doctor_id=doctor_info['doctor_id'])}}">
        <label>Name:</label>
        <input type="text" name="name" value="{{session['username']}}" required><br><br>
        <label>Specialization:</label>
        <input type="text" name="specialization" value="{{doctor_info.Specialization}}" required><br><br>
        <label>Experience:</label>
        <input type="text" name="experience" value="{{doctor_info.Experience}}" required><br><br>
        <label>Email:</label>
        <input type="email" name="email" value="{{doctor_info.doctor_email}}" required><br><br>
        <label>Contact Number:</label>
        <input type="text" name="phone" value="{{doctor_info.doctor_phone}}" required><br><br>
        <input value="Update Profile" type="submit" class="btn btn-primary mt-3">
    </form>

    <!-- Register New Patient -->
    <div id="register" class="content">
      <h3>Register New Patient</h3>
      <form class="row g-3" method="post" action="{{ url_for('patient_registers') }}">
        <div class="col-md-6">
          <label class="form-label">Patient Security ID</label>
          <input type="number" class="form-control" name="pid" placeholder="Enter Security ID">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient First Name</label>
          <input type="text" class="form-control" name="fname" placeholder="Enter First name">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient Last Name</label>
          <input type="text" class="form-control"  name="lname" placeholder="Enter Last name">
        </div>
       <div class="col-md-6">
          <label class="form-label">Patient Gender</label>
            <select class="form-control" name="gender" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient Adress</label>
          <input type="text" class="form-control" name="paddress" placeholder="Enter Adress">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient Phone</label>
          <input type="number" class="form-control" name="pphone" placeholder="Enter Phone">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient E Mail</label>
          <input type="text" class="form-control" name="pemail" placeholder="Enter E Mail">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient Allergies</label>
          <input type="text" class="form-control" name="pallergy" placeholder="Enter allergies">
        </div>
         <div class="col-md-6">
          <label class="form-label">Patient Illness</label>
          <input type="text" class="form-control" name="pillness" placeholder="Enter Illness">
        </div>
        <div class="col-md-6">
          <label class="form-label">Patient Treatment</label>
          <input type="text" class="form-control" name="ptreatment" placeholder="Enter Treatment">
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>

<!-- Add appointment record -->
    <div id="appointment" class="content">
      <h3>Add appointment record</h3>
      <form class="row g-3" method="post" action="{{url_for('appointment_record')}}">
        <div class="col-md-6">
          <label class="form-label">Patient Security ID</label>
          <input type="number" class="form-control" name="sid" placeholder="Enter Security ID">
        </div>
        <div class="col-md-6">
          <label class="form-label">Doctor</label>
          <input type="text" class="form-control" value="{{session['username']}}" name="dname" placeholder="Enter First name">
        </div>
        <div class="col-md-6">
          <label class="form-label">Date</label>
          <input type="date" class="form-control"  name="date" placeholder="Enter Date">
        </div>
        <div class="col-md-6">
          <label class="form-label">Diagonos</label>
          <input type="text" class="form-control" name="dia_treatment" placeholder="Enter diagonois">
        </div>
        <div class="col-md-6">
          <label class="form-label">Note</label>
          <input type="text" class="form-control" name="note" placeholder="Enter E Mail">
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>

<!-- Add Prescriptipoon -->
    <div id="prescription" class="content">
      <h3>Add Prescription</h3>
      <form class="row g-3" method="post" action="{{url_for('add_prescription')}}">
        <div class="col-md-6">
          <label class="form-label">Patient Security ID</label>
          <input type="number" class="form-control" name="pre_sid" placeholder="Enter Security ID">
        </div>
        <div class="col-md-6">
          <label class="form-label">Doctor</label>
          <input type="text" class="form-control" value="{{session['username']}}" name="dname" placeholder="Enter First name">
        </div>
        <div class="col-md-6">
          <label class="form-label">Date</label>
          <input type="date" class="form-control"  name="date" placeholder="Enter Date">
        </div>
        <div class="col-md-6">
          <label class="form-label">medicine</label>
          <input type="text" class="form-control" name="medicine" placeholder="Enter medicine">
        </div>
        <div class="col-md-6">
          <label class="form-label">strength</label>
          <input type="text" class="form-control" name="strength" placeholder="Enter strength">
        </div>
        <div class="col-md-6">
          <label class="form-label">duration</label>
          <input type="text" class="form-control" name="duration" placeholder="Enter duration">
        </div>
        <div class="col-md-6">
          <label class="form-label">instructions</label>
          <input type="text" class="form-control" name="instructions" placeholder="Enter instructions">
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div> 

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>
  function showContent(event, section) {
    event.preventDefault();
    document.querySelectorAll('.content').forEach(div => {
      div.style.display = "none";
    });
    document.getElementById(section).style.display = "block";
  }
  function toggleEditForm() { 
            let form = document.getElementById("editForm");
            form.style.display = form.style.display === "none" ? "block" : "none";
        }
</script>
<style>
  .content {
    display: none; /* hide by default */
  }
  #editForm { display: none;  
   margin-top: 20px;}
</style>